body {
  font-family: "Share Tech Mono", monospace; }

body,
html,
#root {
  height: 100% !important;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); }

h2 {
  text-transform: uppercase;
  font-size: 32px; }

h2,
h5 {
  margin: 0;
  cursor: default; }

p {
  cursor: default; }

h5 {
  font-size: 20px; }

.avatar {
  width: 100px;
  height: 100px; }

.hide {
  opacity: 0; }

#enemy-container .oval {
  top: 80px; }

#hero-container .oval {
  top: 110px; }

#hero-container .avatar-box {
  left: 7px; }

#battle-container {
  min-width: 280px;
  height: 423px;
  outline: 5px double black;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#enemy-container {
  position: relative;
  top: 55px;
  height: 100px;
  justify-content: space-between;
  margin-left: auto;
  text-align: center;
}

#enemy-info-box {
  padding: 5px;
  width: 100%;
  letter-spacing: -2px; }

#hero-info-box {
  padding: 5px;
  width: 100%;
  letter-spacing: -2px; }

.avatar-box {
  position: relative;
  z-index: 0; }

.oval {
  width: 120px;
  height: 60px;
  background: #ccbaa1;
  border-radius: 50%;
  position: absolute;
  z-index: -1; }

.both-progress {
  position: relative;
  overflow: inherit;
  border-radius: inherit;
  background-color: #e09a9a;
  box-shadow: 1px 1px 1px black;
  width: 100%; }

#hero-container {
  justify-content: space-between;
  position: relative;
  top: 90px;
  height: 100px;
}

.all-players-box {
  flex-direction: row;
  display: flex;
}

#text-box {
  background-color: #4b4f53;
  position: relative;
  top: 200px;
  height: 100px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#text-box-content {
  background-color: #5381b6;
  height: 80px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.attack-container {
  width: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center; }

.move-pointer {
  cursor: pointer;
  padding: 2px 5px;
  font-size: 18px;
  color: white; }

.battle-text-content {
  padding: 13px 13px 0px 13px;
  font-size: 18px;
  color: white;
  height: 80px; }

#play-again-text {
  cursor: pointer; }

@media screen and (min-width: 769px) {
  .move-pointer:hover,
  #play-again-text:hover {
    color: #c9def8; } }

#turn-text {
  text-align: center;
}

.hp-progress-bar {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
}

.enemy-intention {
  color: black;
}