.character-name {
  margin-bottom: 0 !important;
  color: #f26725 !important;
  -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";

  @media (min-width: 410px) {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.avatar {
  -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";

  @media (min-width: 410px) {
    height: 120px;
  }

  @media (min-width: 768px) {
    height: 250px;
  }
}

.avatar-enemy {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.avatar-effect {
  padding-right: 10px;
}

.hide {
  opacity: 0;
}

#enemy-container {
  justify-content: space-between;
  text-align: center;
}

.avatar-box {
  position: relative;
  z-index: 0;
}

.both-progress {
  position: relative;
  overflow: inherit;
  border-radius: inherit;
  background-color: #e09a9a;
  box-shadow: 1px 1px 1px black;
  width: 100%;
}

#hero-container {
  text-align: center;
}

.hero-container-selected:hover {
  color: #77BB77;
  cursor: pointer;

  .hero-hover-selected {
    -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#008000')";
  }
}

.all-players-box {
  flex-direction: row;
  display: flex;
}

#text-box {
  min-width: 500px;
  position: absolute;
  border-radius: 0.25rem;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

#text-box > img {
  position: absolute;

  -webkit-filter: drop-shadow(0 0 1px rgb(255, 255, 255));
  filter: drop-shadow(0 0 1px rgb(255, 255, 255));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
}

#text-box-content {
  text-align: center;
  margin-top: 80px;
  display: flex;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.action-intention {
  height: 30px;
}

.attack-container {
  text-align: center;
  display: inline-block;
  //width: 80px;
}

.attack-container-nb-0, .attack-container-nb-2, .attack-container-nb-4 {
  margin-top: 27px;
}

.attack-container-nb-1, .attack-container-nb-3 {
  margin-top: -13px;
}

.attack-container-nb-0 {
  margin-left: 182px;
}
.attack-container-nb-1 {
  margin-left: 15px;
}
.attack-container-nb-2 {
  margin-left: 13px;
}
.attack-container-nb-3 {
  margin-left: 10px;
}
.attack-container-nb-4 {
  margin-left: 13px;
}

.move-pointer {
  color: white;
}

@media (max-width: 845px) {
  .move-pointer {
    font-size: 12px !important;
  }
}

.characters-and-text-box {
  width: 100%;
  position: absolute;

  @media (min-width: 768px) {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.battle-text-content {
  padding: 13px 13px 0px 13px;
  font-size: 24px;
  color: white;
  height: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: 100%;
  z-index: 10;
}

#turn-text-number {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: #f26725;
  font-size: 24px;
  height: 40px;

  @media (min-width: 768px) {
    height: auto;
    font-size: 34px;
  }
}

#turn-text-number > img {
  position: absolute;
  height: 50px;

  -webkit-filter: drop-shadow(0 0 1px rgb(255, 255, 255));
  filter: drop-shadow(0 0 1px rgb(255, 255, 255));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";

  @media (min-width: 768px) {
    height: 80px;
  }
}

.text-round {
  position: relative;
  top: 6px;
  @media (min-width: 768px) {
    top: 12px;
  }
}

.text-round-one-digit {
  left: 15px;
  @media (min-width: 768px) {
    left: 25px;
  }
}

.text-round-two-digit {
  left: 10px;
  @media (min-width: 768px) {
    left: 20px;
  }
}

.hp-progress-bar {
  position: absolute;
  text-align: center;
  letter-spacing:1px ;
  width: 100%;
  color: white;
}