.enemy-name {
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.avatar {
  -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
  height: 200px;
}

.avatar-effect {
  padding-right: 10px;
}

.hide {
  opacity: 0;
}

#enemy-container {
  justify-content: space-between;
  text-align: center;
}

#enemy-info-box, #hero-info-box {
  padding: 5px;
  width: 100%;
  letter-spacing: -2px;
}

.avatar-box {
  position: relative;
  z-index: 0;
}

.both-progress {
  position: relative;
  overflow: inherit;
  border-radius: inherit;
  background-color: #e09a9a;
  box-shadow: 1px 1px 1px black;
  width: 100%;
}

#hero-container {
  padding-top: 38px;
  justify-content: space-between;
  text-align: center;
}

.hero-container-selected:hover {
  color: #77BB77;
  cursor: pointer;

  .hero-hover-selected {
    -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#008000')";
  }
}

.all-players-box {
  flex-direction: row;
  display: flex;
  height: 90%;
  position: absolute;
  bottom: 0;
}

#text-box {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  border: thick double #fff;
  bottom: 0;
  min-width: 600px;
  left: 50%;
  transform: translate(-50%);
}

#text-box-content {
  text-align: center;
  height: 130px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.attack-container {
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.move-pointer {
  color: white;
}

@media (max-width: 845px) {
  .move-pointer {
    font-size: 12px !important;
  }
}

.battle-text-content {
  padding: 13px 13px 0px 13px;
  font-size: 18px;
  color: white;
  height: 80px;
}

#turn-text-number {
  padding-top: 10px;
  text-align: center;
}

.hp-progress-bar {
  position: absolute;
  text-align: center;
  letter-spacing:1px ;
  width: 100%;
  color: white;
  padding-top: 3px;
}