.character-name {
  margin-bottom: 0 !important;
  color: #f26725 !important;
  -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";

  @media (min-width: 410px) {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.avatar {
  -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 9px 1px rgba(0, 0, 0, 0.3));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";

  @media (min-width: 410px) {
    height: 120px;
  }

  @media (min-width: 768px) {
    height: 250px;
  }
}

.avatar-enemy {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.avatar-effect {
  padding-right: 10px;
}

.hide {
  opacity: 0;
}

#enemy-container {
  justify-content: space-between;
  text-align: center;
}

.avatar-box {
  position: relative;
  z-index: 0;
}

.both-progress {
  position: relative;
  overflow: inherit;
  border-radius: inherit;
  background-color: #e09a9a;
  box-shadow: 1px 1px 1px black;
  width: 100%;
}

#hero-container {
  text-align: center;
}

.hero-container-selected:hover {
  color: #77BB77;
  cursor: pointer;

  .hero-hover-selected {
    -webkit-filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    filter: drop-shadow(1px 9px 1px rgba(0, 128, 0, 0.3));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#008000')";
  }
}

.all-players-box {
  flex-direction: row;
  display: flex;
  //height: 80%;
  //position: absolute;
  //bottom: 0;
}

#text-box {
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: absolute;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  left: 50%;
  transform: translate(-50%);
}

#text-box-content {
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.action-intention {
  height: 30px;
}

.attack-container {
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.move-pointer {
  color: white;
}

@media (max-width: 845px) {
  .move-pointer {
    font-size: 12px !important;
  }
}

.characters-and-text-box {
  width: 100%;
  position: absolute;

  @media (min-width: 768px) {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.battle-text-content {
  padding: 13px 13px 0px 13px;
  font-size: 24px;
  color: white;
  height: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#turn-text-number {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  padding-top: 10px;
  text-align: center;
}

.hp-progress-bar {
  position: absolute;
  text-align: center;
  letter-spacing:1px ;
  width: 100%;
  color: white;
}